* {
  padding: 0;
  margin: 0;
}
body {
  background: url('../img/background.png') center center no-repeat fixed;
  background-size: cover;
  font-family: "Helvetica Neue", Tahoma, sans-serif;
}
nav {
  height: 36px;
  width: 100%;
  background-color: #075496;
  background-image: url("../img/noise.png");
  line-height: 36px;
  font-size: 14px;
}
ul {
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-block;
  padding: 0 15px;
}
.menu-right {
  float: right;
  height: inherit;
  margin-right: 20px;
}
.menu-right img {
  display: inline-block;
  position: relative;
  top: 7px;
}
.menu-right a {
  text-decoration: none;
  color: #fff;
}
.menu-right span {
  text-decoration: underline;
}
.menu-right li:hover {
  background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
}
.razd {
  float: right;
  height: 32px;
  margin-top: 2px;
  border-right: 1px solid #56a2dc;
}
.menu-centr {
  float: right;
  height: inherit;
}
.menu-centr a {
  text-decoration: none;
  color: #56a2dc
}
.menu-centr li:hover {
  background-color: #4eabda;
}
.menu-centr li:hover a {
  color: #fff;
}/*-----------------------------Form-------------------------------*/
.reg {
  height: 614px;
  width: 560px;
  margin: -307px 0 0 -280px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
}
.reg-top {
  height: 62px;
  width: inherit;
  margin-bottom: 2px;
  text-align: center;
  line-height: 62px;
  font-size: 24px;
  background-color:rgba(0, 0, 0, 0.6);
}
.reg-bot {
  height: 550px;
  width: inherit;
  background-color:rgba(0, 0, 0, 0.6);
}
.facebook {
  width: 276px;
  padding-top: 35px;
  padding-bottom: 15px;
  margin: 0 auto;
  border-spacing: 0;
}
.facebook tr {
  height: 35px;
  margin-top: 35px;
}
.f {
  width: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: transparent;
  border-top: 1px solid #798ab6;
  border-right: 1px solid #1d3c73;
  background: linear-gradient(to bottom, #3e5694, #2b4278);
  font-size: 24px;
  font-weight: bold;
}
.centr {
  border-left: 1px solid #4f68aa;
}
.centr button {
  height: 35px;
  width: 245px;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  border-top: 1px solid #798ab6;
  background: linear-gradient(to bottom, #3e5694, #2b4278);
  font-weight: bold;
  font-size: 15px;
  color: #fff;
}
.centr button span {
  font-weight: normal;
}
.centr button::after {
  content: " > ";
  padding-left: 20px;
}
hr {
  height: 1px;
  color: #666;
  background-color: #666;
  border: none;
  border-bottom: 1px solid #000;
}
.ou {
  height: 35px;
  width: 276px;
  margin: 0 auto;
  line-height: 35px;
  margin-bottom: 15px;
}
.ou table {
  width: 276px;
}
.ou-td {
  width: 50%;
}
.ou-td-cen {
  padding: 0 4px;
}
.form-reg > input {
  display: block;
  margin: 0 auto;
  height: 35px;
  width: 276px;
  margin-bottom: 15px;
  text-indent: 18px;
  background-color: #000;
  border: 0;
  border-bottom: 1px solid #484847;
  font-size: 14px;
  color: #ccc;
}
.form-reg > input:hover {
  box-shadow: 0 0 20px 2px rgba(105, 155, 205, 0.7);
  background: #1b5185;
  color: #d1dae5;
}
.check {
  height: 35px;
  width: 276px;
  margin: 0 auto;
  margin-bottom: 7px;
  margin-top: 23px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  }
.send {
  height: 35px;
  width: 150px;
  margin-bottom: 15px;
  border: 0;
  background: linear-gradient(to bottom, #50aedb, #2e7ac4);
  border-radius: 5px;
  border-color: transparent;
  color: #fff;
  font-size: 14px;
}
.futer {
  font-size: 11px;
  line-height: 16px;
}
